<meta charset="UTF-8">
<!DOCTYPE html>
<html>
<head>
<style type="text/css">
h1 {font-family:Georgia;} 
div{
text-align:left;
border:3px solid #b272a2;
padding:3px 6px; 
background:#eefeff;
border-radius:23px;
}
//body{  background-image:url(/maindir/bac.png)}
body{background:url(http://i0.zastatic.com/zhenai3/zhenai2012/img/landed/2.jpg)}
p{ font-size:16px }
input{ border-radius:9px; }
.text1 {height:34px; position:relative; top:0px; left:0px; background:#cccbcd; font-weight:bold}
.text2 {height:29px; width:148px; position:relative; top:0px; left:-13px; }
.textg1 {background:#ffedef;height:28px;opacity:66}
.textg2 {background:#eeedef;height:24px}
.nav-top{float:left;}
</style>
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.4.min.js">
</script>
</head>

<body >
<input type="button" id="two"  value="" ></input>
{% for k_tag in tags.keys() %}
	<button  type="button" class="nav-top">{{ ins[k_tag] }}</button>
{% endfor %}
{% for k_tag in tags.keys() %}
	<div title = "0">
	<input type="submit" id="{{k_tag}}" name="fname"  class="text1" value="{{ ins[k_tag] }}" title="{{k_tag}}" data="{{k_tag}}";></input>
	{% for v in tags[k_tag] %}
		<input type="button" readonly="true" id="{{v}}" value="{{ins[v]}}" title="{{titles_s[v]}}" data="{{v}}" ></input>
		<input type="text" id="_{{v}}" class="text2" title="you cam leave it" ></input>
	{% endfor %}
	{% if grs[k_tag] %}
		<br><input type="button" id="g"  class="textg1" value="group by:" title="group by " data="group by "></input>
		{% for v in grs[k_tag] %}
			<input type="button" id="1" class="textg2" value="{{ins[v]}}" title="{{titles_s[v]}}" data="{{v}}" ></input> 
		{% endfor %}
	{% endif %}
	</div>
{% endfor %}
<hr><strong><a href="/tryget">change password? </a>
<script  type="text/javascript" language=JavaScript charset="UTF-8"  >
$("div").click(function(){
//$(this).find("input:radio").click()
$(this).attr("title","1")
$(this).siblings("div[title = '1']").attr("title","0")
})
$(":text").focus(function(){
$(this).parent("div").attr("title","1");
$(this).parent("div").siblings("div[title = '1']").attr("title","0")
})
$(":submit").click(function(){
var ss1 = ""
for (var i=0;i<$(this).siblings("input:text").length;i++){
	var aa = $(this).siblings("input:text").eq(i)
	ss1 = ss1 + '"' + $(this).siblings("input:button").eq(i).attr('data') + '":"' + aa.val() +'",'} 
var gs = $(this).siblings("input:button[id = '1'],input:button[id = '0']")
var ggs = $(this).siblings("input:button[id = 'g']")
if ( ggs.length > 0) {
	var ssg = '{'
	for (var i=0;i<gs.length;i++){ssg = ssg +'"'+ gs.eq(i).attr('data') +'":'+ gs.eq(i).attr('id')  + ","};  
	ssg = '"' + ggs.attr('data')+ '":' +ssg.slice(0,-1) + '}'} 
else {ssg = ""; ss1 = ss1.slice(0,-1)}
thtml = "/sqlbs/"+$(this).attr('data')+"/"+ss1+ssg
window.location.href=thtml;
})
$("input:button#one").click(function(){window.location.href="//112.74.96.133:9999/sqldir/selfd_sql"})
$("input:button[id = '1']").click(function(){
if ($(this).attr('id') == '1'){$(this).attr("id","0");$(this).css("backgroundColor",'rgb(0,0,0)')}
else {$(this).attr("id","1");$(this).css("backgroundColor",'#cccbcd')}
})
var as = ["(1,1,1)"]
$("html").mousemove(function getMousePos(event) {var e = event || window.event;              
var s1 = "rgb("+parseInt(e.screenX/8)+","+parseInt((e.screenX+e.screenY)/12)+","+parseInt(e.screenY/4.5)+")"
$("div[title='1']").css("backgroundColor",s1)
var rand_i = Math.floor(999*Math.random())
if (as.push(s1) > 999 ) {as.shift()}
$("input:button#two").val('x:'+e.screenX+' y:'+e.screenY+"    "+s1 + as[rand_i] + rand_i )
 } )
document.onkeydown=function(event){
            var e = event || window.event || arguments.callee.caller.arguments[0];
            if(e){//Esc
		var s_ran = "rgb("+Math.floor(255*Math.random())+","+Math.floor(255*Math.random())+","+Math.floor(255*Math.random())+")" 
		//$("div[title='1']").css("backgroundColor",as[Math.floor(999*Math.random())]) 
		$("div[title='1']").css("backgroundColor",s_ran) 
              }
            if(e && e.keyCode==27){//Esc
                
              }
            if(e && e.keyCode==113){//F2 
                 
               }            
             if(e && e.keyCode==13){//enter
                 $("div[title='1']").find("input:submit").click()
            }
        }; 
</script>
</body>
</html>
